<!--
================================
== start include contact.html ==
================================
-->
<h3 id="contact">Contacteer LOKAAL architecten</h3>
<p>Interesse om met ons samen te werken? Vul onderstaand formulier in, met wat info over uw bouwplannen, en we nemen zo snel mogelijk contact met u op.</p>
<p>Hoe meer info u ons bezorgt, hoe beter we uw project kunnen inschatten, en hoe gerichter we kunnen reageren.</p>
<p>Indien gewenst kan u ook rechtstreeks mailen naar <a href="mailto:info@lokaalarchitecten.be?subject=Contact via www.lokaalarchitecten.be"> info@lokaalarchitecten.be</a></p>

<form name="insightly_web_to_contact" action="https://googleapps.insight.ly/WebToContact/Create" method="post">
  <input type="hidden" name="formId" value="kHRgjUu99ICUqcPjVNnw0g==" />
  <!-- Naam en voornaam -->
  <input id="insightly_firstName" name="FirstName" class="name form-control" type="text" placeholder="Voornaam">
  <input id="insightly_lastName" name="LastName" class="name form-control" type="text" placeholder="Achternaam">
  <!-- E-mail -->
  <input type="hidden" name="emails[0].Label" value="Work" />
  <input id="emails[0]_Value" name="emails[0].Value" class="mail form-control" type="text" placeholder="E-mail">
  <!-- Telefoon -->
  <input type="hidden" name="phones[0].Label" value="Work" />
  <input id="phones[0]_Value" name="phones[0].Value" class="phone form-control" type="text" placeholder="Telefoonnummer">
  <!-- Bericht -->
  <textarea id="insightly_background" name="background" placeholder="Beschrijf hier uw bouwplannen..." class="form-control"></textarea>
  <!-- Knop -->
  <input type="submit" value="Verstuur uw bericht">
</form>
<!--
==============================
== end include contact.html ==
==============================
-->
