<!--
================================
== start include contact.html ==
================================
-->
<h3 id="contact">Contacteer LOKAAL architecten</h3>
<p>Interesse om met ons samen te werken? <a href="mailto:info@lokaalarchitecten.be?subject=Contact via www.lokaalarchitecten.be">Stuur ons dan een mail</a>, met wat info over uw bouwplannen, en we nemen zo snel mogelijk contact met u op.</p>
<p>Hoe meer info u ons bezorgt, hoe beter we uw project kunnen inschatten, en hoe gerichter we kunnen reageren.</p>
<!--
==============================
== end include contact.html ==
==============================
-->
