<!--
==============================
== start include intro.html ==
==============================
-->
<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <img src="{{site.url}}/assets/img/lokaalarchitecten-logo.png" class="img-fluid w-50" alt="Logo LOKAAL architecten">
    </div>
    <div class="col-sm">
      <h3 class="display-5">Functionele ontwerpen met ruimte voor creativiteit</h3>
      <p>LOKAAL architecten is een jong en dynamisch architectenbureau met een zwak voor eigentijdse, functionele ontwerpen, waarin creativiteit en maakbaarheid hand in hand gaan.
      </p>
      <p>Particulier of professioneel: op onze ervaring kan je bouwen. Reken op LOKAAL architecten voor:
        <ul>
          <li>architectuur-, interieur- en meubelontwerp,</li>
          <li>frisse, functionele ontwerpen,</li>
          <li>duurzame, energiezuinige gebouwen,</li>
          <li>opvolging van eerste schets tot laatste steen (ruwbouw wind- en waterdicht).</li>
        </ul>
      </p>
      <a href="{{site.url}}#contact">Contacteer ons om een samenwerking te bespreken.</a>
    </div>
  </div>
</div>
<!--
============================
== end include intro.html ==
============================
-->
