/* style om content niet achter fixed navbar te laten verdwijnen */
body {
  min-height: 75rem;
  padding-top: 4.5rem;
  /* Google fonts */
  font-family: 'Open Sans', sans-serif;
}

.bg-navbar {
  /* achtergrondkleur navbar */background-color: #E0EDE7;
}

footer {
  background-color: #E0EDE7;
  margin-top: 3rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
  color: #434745;
}

footer .last-li {
  padding-top: 20px;
}

input {
  margin-top: 1rem;
}

textarea {
  margin-top: 1rem;
}

h3 {
  margin-top: 1rem;
}
